table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table th{
    font-weight: bold;
    color: black;
    text-align: center;
}

ng-container{
    margin: 10px;
}

table td{
    padding: 10px;
}