<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <div class="row">
            <div class="col-sm-1">
                <button mat-icon-button color="primary" routerLink="/view-all-companies">
                    <mat-icon>undo</mat-icon>
                  </button>
            </div>
                <div class="col-sm-10">
                    <h1>{{company.companyName}}</h1>
                    <b><span>{{company.companyCode}}</span></b>
                </div>  
            </div>

                <div class="col-md-8 mt">
                    <form>

                        <div class="form-group row">
                          <label  class="col-sm-2 col-form-label">TurnOver</label>
                          <div class="col-sm-10">
                            <input name="turnover" [(ngModel)]="company.turnover" type="text" class="form-control" value={{company.turnover}}>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">CEO</label>
                          <div class="col-sm-10">
                            <input name="ceo" [(ngModel)]="company.ceo" type="text" class="form-control" placeholder={{company.ceo}}>
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Board Of Directors</label>
                            <div class="col-sm-10">
                              <input name="boardOfDirectors" [(ngModel)]="company.boardOfDirectors" type="text" class="form-control" placeholder={{company.boardOfDirectors}}>
                            </div>
                          </div>


                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Listed in Stock Exchanges</label>
                            <div class="col-sm-10">
                              <input name="listedinStockExchanges" [(ngModel)]="company.listedinStockExchanges" type="text" class="form-control" placeholder={{company.listedinStockExchanges}}>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Brief</label>
                            <div class="col-sm-10">
                              <input name="brief" [(ngModel)]="company.brief" type="text" class="form-control" placeholder={{company.brief}}>
                            </div>
                          </div>

                          <a mat-raised-button (click)="onUpdate()" color="accent">Update</a>
                          <a mat-raised-button color="warn">Delete</a>

                      </form>


                </div>

                <!-- creating form -->
<!--         
                    <form >
                        <mat-form-field class="full-width">
                            <mat-label>Email Address</mat-label>
                            <input
                                formControlName="email"  
                                type="text" 
                                matInput />
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input 
                            formControlName="password" 
                            type="password" matInput />
                        </mat-form-field>

                        <div class="text-center mt">
                            <button [disabled]="!formGroup.valid" class="full-width" type="submit" mat-raised-button color="accent">
                                Login
                            </button>
                        </div>
                </form> -->
            </div>
        </div>
