<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                   <div class="container text-center">
                       <img class="img-fluid" style="width: 100px;" src="assets/login-icon.png" alt="login-icon"/>
                   </div> 

                <h1 class="text-center">Login</h1>

                <!-- creating form -->
        
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                        <mat-form-field class="full-width">
                            <mat-label>Email Address</mat-label>
                            <input
                                formControlName="email"  
                                type="text" 
                                matInput />
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input 
                            formControlName="password" 
                            type="password" matInput />
                        </mat-form-field>

                        <div class="text-center mt">
                            <button [disabled]="!formGroup.valid" class="full-width" type="submit" mat-raised-button color="accent">
                                Login
                            </button>
                        </div>
                </form>
                <div class = "text-center mt">
                     Not registered yet?
                    <a class="register" routerLink="/register" color="primary">Create an Account</a>
                </div>
            </div>
        </div>
    </div>
</div>